# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Block/SocketProgramming/.vs/SocketProgramming/v16
/Block/SocketProgramming/Client/Debug/Client.tlog
/Block/SocketProgramming/Client/Debug
/Block/SocketProgramming/Debug
/Block/SocketProgramming/Server/Debug
